<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo Application | Login</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>
<body>
	{% verbatim %}
	<div class="container">
		<form class="form-signin" role="form">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <input type="text" class="form-control" placeholder="Email address" required autofocus>
	        <input type="password" class="form-control" placeholder="Password" required>
	        <button class="btn btn-lg " type="submit">Sign in</button>
      	</form>
	</div>
	
	{% endverbatim %}
	<!-- javascript includes -->
	<script src="../static/js/angular.js"></script>

</body>
</html>